<h1>Editing screnn post</h1>

<%= render "form", screnn_post: @screnn_post %>

<br>

<div>
  <%= link_to "Show this screnn post", @screnn_post %> |
  <%= link_to "Back to screnn posts", screnn_posts_path %>
</div>
