<%= stylesheet_link_tag('home') %>

<header class="v-header">


  <div class="fullscreen-video-wraper">
    <%= video_tag "bg.mp4", controls: false, autoplay: true, muted: true, loop:
    true%>
  </div>

  <div class="header-overlay"></div>

  <div class="header-content d-flex flex-column">
    <div
      class="w-100 move-position d-flex flex-column justify-content-center align-items-center gap-5"
    >
      <h1 class="opacity-50 text-header display-1">PUBLICITA-TE</h1>

      <button type="button" class="btn btn-success btn-size">
        Be a Celebrity
      </button>
    </div>

   
  </div>

</header>
