<%= stylesheet_link_tag('home') %>

<header class="v-header">
  <div class="fullscreen-video-wraper">
    <%= video_tag "bg.mp4", controls: false, autoplay: true, muted: true, loop:
    true%>
  </div>

  <div class="header-overlay"></div>

  <div class="header-content d-flex flex-column">
    <%= render "layouts/navbar" %>
    <div
      class="w-100 move-position d-flex flex-column justify-content-center align-items-center gap-5"
    >
      <h1 class="opacity-50 text-header display-1">PUBLICITA-TE</h1>

      <button type="button" class="btn btn-success btn-size">
        Be a Celebrity
      </button>
    </div>

    <div class="row w-100 position-absolute bottom-0 left-0  p-5 footer-media-sm">
      <div class="col-6 d-flex flex-row align-items-center gap-3 flex-wrap">
        <span class="fs-6 text-light"> Follow us on </span>

        <div class="d-flex flex-row gap-4">
          <i class="fa-brands fa-instagram fa-1x fa-beat"></i>
          <i class="fa-brands fa-facebook fa-1x fa-beat"></i>
          <i class="fa-brands fa-tiktok fa-1x fa-beat"></i>
          <i class="fa-brands fa-twitter fa-1x fa-beat"></i>
        </div>
      </div>
      <% unless mobile_device? %>
          <div class="col-6 p-0 text-end pe-10 ">
            <span class="fs-6 text-light">
              &copy; 2024 Publicita-te | Design by Okueca
            </span>
          </div>
          <% else %>
        <div class="col-6 p-0">
          <div
            class="d-flex flex-column align-items-end justify-content-end copy-right-sm gap-3"
          >
            <span class="fs-6 text-light "> &copy; 2024 Publicita-te </span>

            <span class="fs-6 text-light"> Design by Okueca </span>
          </div>
        
        </div>
        <% end %>
    </div>
  </div>
</header>
