<%= render "layouts/navbar" %>
<%= stylesheet_link_tag('new_post') %>


<div class="container margin_y">
 
  <div class="row ">

    <div class="col-1">
     
    </div>
    <div class="col-10">
      <h3 class="text-start mb-4 ">Create New Post</h3>
      <%= render "form", post: @post %>
    </div>
    <div class="col-1 leaflet-container" data-controller="map" style="leaflet-container{min-height: 400px}" >

    </div>
  </div>
</div>

  <div id="map"></div>
<%= render "layouts/footer" %>
      

