<div id="<%= dom_id post_date %>">
  <p>
    <strong>Post:</strong>
    <%= post_date.post_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post_date.date %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= post_date.frequency %>
  </p>

</div>
