<h1>Editing post date</h1>

<%= render "form", post_date: @post_date %>

<br>

<div>
  <%= link_to "Show this post date", @post_date %> |
  <%= link_to "Back to post dates", post_dates_path %>
</div>
