.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.text-header {
  font-size: 8rem;
  font-weight: 700;
}

.no-pm{
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (min-width: 768px) {
  .text-header {
    font-size: 5rem;
    font-weight: 700;
  }

  .btn-size {
    width: 50% !important;
    font-size: large !important;
  }
}

@media only screen and (min-width: 992px) {
  .text-header {
    font-size: 8rem;
    font-weight: 700;
  }
  .btn-size {
    width: 15% !important;
    font-size: large !important;
  }
}


@media only screen and (max-width: 576px) {
  .text-header {
    font-size: 3rem;
    font-weight: 700;
  }

  .btn-size {
    width: 50% !important;
    font-size: large !important;
  }

  .footer-media-sm{
  
      padding: 0px 1px 37px 29px !important;
  }

  .copy-right-sm{
    padding-right: 10px !important;
  }
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.btn-size {
  width: 15%;
  font-size: x-large;
}
.move-position {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen-video-wraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wraper video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  opacity: 0.5;
}

.header-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: whitesmoke;
}
